.add {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.addButton:hover {
    cursor: pointer;
}

.popup {
    background-color: white;
    position: fixed;
    border: 1px solid black;
    width: 500px;
}

.muscle {
    padding: 0 5px 0 5px;
    display: inline-block;
    width: fit-content;
    margin: 5px 5px 5px 5px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
}